.wrapper {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin: 0.3rem;
  overflow: hidden;
  background-color: var(--foreground);
  border: 2px solid var(--foreground);
  border-radius: 100%;
  position: absolute;
  bottom: 10px;
  right: 10px;
  user-select: none;
}

.wrapper input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
}

.wrapper span {
  position: absolute;
  left: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--background);
  background-color: var(--foreground);
  border-radius: 0.3rem;
  transition: 0.3s ease all;
}

.wrapper input:checked ~ span {
}
