.card {
  position: relative;
  margin: 0.8rem 0;
  padding: 1rem;
  background-color: var(--background_input);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: 0.3s ease-in-out transform;
  user-select: text;
}

.card:hover {
  /*transform: rotateZ(-1deg);*/
}

.card h3 {
  margin: 0;
}

.expand_handler {
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header .image {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 3.5rem;
  max-width: 3.5rem;
  min-height: 3.5rem;
  max-height: 3.5rem;
  margin-right: 0.7rem;
}

.image img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  border-radius: var(--border-radius);
}

.header span {
  opacity: 0.7;
}

.meta {
  margin-top: 0.7rem;
}

.meta small {
  display: inline-block;
  margin-right: 0.4rem;
  margin-bottom: 0.4rem;
  padding: 0.4rem 0.6rem;
  font-weight: bold;
  font-size: 0.72em;
  /*text-transform: uppercase;*/
  background-color: var(--background);
  border-radius: var(--border-radius);
}

.desc {
  margin-top: 0.7rem;
  line-height: 1.6;
  /*opacity: 0.6;*/
}

.apply {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  opacity: 1;
}

.apply button {
  font-size: 0.8em;
}
