.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  padding: 0.6rem 1rem;
  background-color: var(--background_input);
  border-radius: var(--border-radius);
}
