@keyframes loader {
  to {
    background-position: 135% 0;
  }
}

.page_loader {
  height: 0.3rem;
  background: linear-gradient(to right, var(--foreground), var(--foreground));
  background-color: var(--background_input);
  background-repeat: repeat-y;
  background-position: -35% 0;
  background-size: 35%;
  animation: loader 1s linear infinite;
  opacity: 0.5;
}
