.form label {
  display: block;
  margin: 0.7rem 0;
}

.form .row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.row label {
  width: 48%;
}

@media (max-width: 700px) {
  .form .row {
    flex-direction: column;
  }

  .form .row.submit_reset_btn {
    flex-direction: row;
  }

  .row label {
    width: 100%;
  }
}

.form button {
  width: 100%;
  padding: 0.7rem 1.3rem;
}

.form img {
  display: block;
  width: auto;
  max-width: 100%;
  margin: 1rem auto;
}

.form h3 {
  display: inline-block;
  padding: 0.4rem;
  color: var(--background);
  background-color: var(--foreground);
}

.color_red {
  padding-left: 0.3rem;
  color: red;
  font-weight: bold;
}

.file_upload {
  margin-top: 0.3rem;
  padding: 0.3rem;
  background-color: var(--background_input);
  border-radius: var(--border-radius);
}

.clear_selected_file {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  padding-left: 1rem;
}

.clear_selected_file > button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2rem;
  max-width: 2rem;
  min-height: 2rem;
  max-height: 2rem;
  padding: 0;
  color: var(--foreground);
  background-color: var(--background);
  border: none;
  border-radius: 50%;
}

.clear_selected_file > button:hover {
  background-color: red;
}
