.header {
  display: flex;
  justify-content: flex-start;
}

.title_and_company h2 {
  margin: 0;
}

.title_and_company span {
  font-size: 1.6em;
  opacity: 0.6;
}

.image {
  min-width: 6rem;
  max-width: 6rem;
  margin-right: 1rem;
}

.image img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.meta {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.meta_item {
  display: flex;
  align-items: center;
  margin-right: 3rem;
  margin-top: 0.5rem;
  opacity: 0.6;
}

.meta .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1.5rem;
  max-width: 1.5rem;
  margin-right: 0.8rem;
}
